<a href="https://www.stgeorges.bc.ca/page"><img src="https://preview.ibb.co/cY1TBk/LOGO_WORDS_2.jpg" alt="LOGO_WORDS_2" border="0" id="logo"></a>

<h1>New Article</h1>

<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>