<div id="footer">
		
<div id="ftmain">
		<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values">strong>Read more...</strong></a></span></p>
	</div>
	<div id="ftfooter">
		<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
	</div>
	
</div>