<!--Sticky Header-->

<div class="header" id="navbar">
		
	<div id='redbar'>
	</div>

	<div class="inside">
		<a href="/home"><img src="https://preview.ibb.co/fVSmYa/LOGO_WORDS_2_gray_background.jpg" alt="LOGO_WORDS_2_gray_background" border="0" id="logo"></a>
			
		<ul class="menu_container">
			<li class="menu_item">
				<a class="menu_text" href="/home">Home</a>
			</li>
			<li class="menu_item">
				<a class="menu_text" href="/about">About</a>
			</li>
			<li class="menu_item">
				<a class="menu_text" href="/forum">Forum</a>
			</li>
			<li class="menu_item">
				<a class="menu_text" href="/events">Events</a>
			</li>
			<li class="menu_item">
				<a class="menu_text" href="/resources">Resources</a>
			</li>
			<li class="menu_item">
				<a class="menu_text" href="/contact-us">Contact us</a>
			</li>
			<li class="menu_item">
				<a class="menu_text-logo" href="https://www.stgeorges.bc.ca"><img src="https://image.ibb.co/jcZHsx/St_Georges_logo.png" alt="St_Georges_logo" border="0" id="saints-logo"></a>
			</li>
		</ul>
	</div>

	<div id='redbar'>
	</div>

</div>

<script type="text/javascript">
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the header
var header = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = header.offsetTop;

// Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() 
{
  if (window.pageYOffset >= sticky) 
  {
    header.classList.add("sticky");
  } 
  else 
  {
    header.classList.remove("sticky");
  }
} 
</script>