<div id="welcome-navbar">
	<ul class="w-navbar">
		<li id="space">
			<p id="space"> EMPTY <p>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/home">> HOME</a>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/about">> ABOUT</a>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/forum">> FORUM</a>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/events">> EVENTS</a>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/resources">> RESOURCES</a>
		</li>
		<li class="w-menu_item">
			<a class="w-menu_text" href="/contact-us">> CONTACT US</a>
		</li>
<!--Social Media Buttons-->
		<a href="#" class="fa fa-envelope"></a>

		<a href="#" class="fa fa-twitter"></a>

		<a href="#" class="fa fa-linkedin"></a>

		<a href="https://www.facebook.com/profile.php?id=100010316373138&ref=br_rs" class="fa fa-facebook"></a>
	</ul>
</div>