<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<%= render "header" %>

<!-- About Page Content-->

	<div class="content">

		<div>
			<h1 style="text-align: center;">Current Members</h1>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<p style="text-align: center;">Please Send the Bio</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Vincent Liu</p>
			<p style="text-align: center;">Please Send the Bio</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Tony Liu</p>
			<p style="text-align: center;">Tony Liu is an "enigmatic" grade 10 student at St.George's School. He is honoured to be Vocal Music Club's coordinator of events. As a co-founder, he believes that Vocal Music Club is able to not only induce entertainment and relaxation to a stressful academic environment, but also inspire a positive impact in the greater community. In his free time, Tony enjoys table tennis, travelling, designing, basketball, and just putting on a pair of headphones. With his interest in art and design, Tony will also step forward as the club's marketing designer. He can often be found in the learning commons studying for the upcoming test with Edward Han.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Hao Shi</p>
			<p style="text-align: center;">Hao Shi is a grade ten student at St. George's School. Hao is thrilled to be the choreographer of the Vocal Music Club. His friends describe him as a very, perhaps too much, confident, passionate, humorous, and outgoing young man. Hao has been dancing since the creation of the Vocal Music Club and has had no previous experience. His other hobbies include chess, card games, video games, tennis, and table tennis. With the support of the rest of the club, Hao believes that his choreography will bring some icing on the cake for the club's performances. Hao is excited to meet everyone attending the performances of the Vocal Music Club. He hopes to ignite the interest of others who are interested in music.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">George Huang</p>
			<p style="text-align: center;">Currently in tenth grade at St. George's, George Huang is an aspiring student looking to positively influence society in creative ways. For him, music was a perfect outlet to express his ideas and begin creating positive change at a small scale, within his community. Prior to discovering his passions for music, his passions were in mathematics and art. His hobbies outside of school include playing volleyball, listening to music, and drawing, as well as painting. As a co-founder of the Vocal Music Club, as well as the current treasurer, George hopes to use music to spread awareness of issues within society. At a smaller scale, he hopes to ignite the passion for music of other students and to help others realize that helping one's community can be as simple as listening to a performance.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Mark Li</p>
			<p style="text-align: center;">Currently attending St. George's School as a grade 10 student, Mark is enthusiastic to be one of the leading singers of the St. George's vocal music club. Always trying to sing better, he seldom missed any performance and are eager to learn any singing techniques from professionals. Collaborating with all other members of the vocal music club, Mark has the passion to share the happiness of singing to other people, too.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Edward Han</p>
			<p style="text-align: center;">Edward is a grade 10 student attending St.George's School. He is currently both the coordinator and a performer of the Vocal Music Club, and he is excited to help with organizing concerts and events. Edward plays the alto saxophone and is a part of the concert band and jazz band at St. George's School. He believes that the Vocal Music Club should participate in more community events and make a positive impact on the community. Edward wishes to expand the Vocal Music Club by encouraging more musically talented students to participate and make a positive difference in his community. Aside from form his academics, Edward like to play badminton, swim, ski, and listen to music in his free time. Also, Edward can often be spotted studying with Tony Liu in his natural habitat, the library.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">David Zuo</p>
			<p style="text-align: center;">David is grade 10 at St. George's School. He co-founded Vocal Music club with Thomas and Vincent. He helps the club to obtain and edit audios for club performances, make a club video at the end of each year, and participates in almost every club performance. In his spare time, he likes to listen to music and waste his time on things he can't remember doing.</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
		</div>

		<div class="parallax parallax2">
			<p style="height: 500px;">ts</p>
		</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
