<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<%= render "header" %>

<!-- About Page Content-->

	<div class="content">

		<div>
			<h1 style="text-align: center;">Current Members</h1>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
			<img src="https://image.ibb.co/cW6nyk/Screen_Shot_2017_09_20_at_9_00_40_PM.png" style=" display:block; margin: auto;">
			<p style="text-align: center;">Thomas Yuan</p>
		</div>

		<div class="parallax parallax2">
			<p style="height: 500px;">ts</p>
		</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
