<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<div id='redbar'>
	</div>

	<div id="welcome-container">

		<div class="parallax parallax5">

			<div id="welcome-text">
				<p style="text-shadow: 5px 5px 10px black;">CONTACT US<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">Vocal Music Club</h1></p>
			</div>
		
		</div>

		<%= render "w-menu" %>

	</div>

	<%= render "header" %>
	
<!-- Contact Us Page Content-->

	<div class="content" style="background-color: #282727;">

		<div style="background-color: #434141; border-radius: 50%;">

			<h1 style="font-family: Arial; color: white; text-align: center; margin: 0; border: 0; padding: 25% 3%;">If you have any general question about the club please email: 
				<br></br>
				thomas.yuan2020@stgeorges.bc.ca
				<br></br>
				If you have any questions about the website please email:
				<br></br>
				vincent.liu2020@stgeorges.bc.ca
			</h1>

		</div>

		<div id='redbar'>
		</div>		

	</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
