<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<div id='redbar'>
	</div>

	<div id="welcome-container">

		<div class="parallax parallax4">

			<div id="welcome-text">
				<p style="text-shadow: 5px 5px 10px black;">EVENTS<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">Vocal Music Club</h1></p>
			</div>
		
		</div>

		<%= render "w-menu" %>

	</div>

	<%= render "header" %>

<!-- Events Page Content-->

	<div class="content">

		<div class="parallax parallax7">
			
			<div style="margin-bottom: 0; padding: 10% 20%;">
				<p style="color: white; font-size: 3em; text-shadow: 10px 10px 10px black;">Recently, VMC collaborated with the Canadian Youth Leadership Association and raised more than a $1000 CAD. Currently, VMC is working on creating its own album and is planning to release at the end of the year. The album will include songs that we have performed throughout the year. </p>
			</div>

		</div>

		<div id='redbar'>
		</div>

		<div class="events-tl">
			<h1 class="index-titles">2018————————————</h1>
			<h1 class="index-subtitles">April 10th | Saints Expo Performance</h1>
			<h1 class="index-subtitles">April 10th | Arts Week Performance</h1>
			<h1 class="index-subtitles">March 1st | CYLA 5th Annual Charity Concert</h1>
			<h1 class="index-subtitles">Februrary 1st| St. George's Contemporary Music Night</h1>
			<h1 class="index-titles">2017————————————</h1>
			<h1 class="index-subtitles">December 16th| Crofton Manor Performance</h1>
		</div>

		<div id='redbar'>
		</div>

	</div>

	<%= render "footer" %>
	
</body>
