<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<div id='redbar'>
	</div>

	<div id="welcome-container">

		<div class="parallax">

			<div id="welcome-text">
				<p style="text-shadow: 5px 5px 10px black;">VOCAL MUSIC CLUB<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">St. George's School</h1></p>
			</div>
		
		</div>

		<%= render "w-menu" %>

	</div>

	<%= render "header" %>

<!-- Main Page Content-->

	<div class="content">
<!--Upcoming Events-->
		
		<div class="upevents">
			<h1 class="index-titles">Upcoming Events</h1>
			<h1 class="index-subtitles">Arts Week Performace——————————————————————</h1>
			<p class="index-content"><strong>Date:</strong> All Lunch, April 10th | <strong>Location:</strong> Lower Great Hall</p>
			<h1 class="index-subtitles">Saints Expo Performace———————————————————————</h1>
			<p class="index-content"><strong>Date:</strong> 7:00PM April 10th | <strong>Location:</strong> Auditorium</p>
			<h1 class="index-subtitles">Album In Making—————————————————————————————</h1>
			<p class="index-content">Coming soon...<br>5-7 Songs</p>
		</div>

		<div id='redbar'>
		</div>

		<div class="parallax parallax9">
			<p style="height: 300px; margin: 0; padding-top: 10%; font-family: Copperplate; font-size: 5em; color: white; text-shadow: 5px 5px 10px black;">~ Lower Great Hall ~<br> <font size="10em">~*~ ALL LUNCH, APRIL 10th ~*~</font></p>

		</div>

		<div id='redbar'>
		</div>

<!--Recent Events-->
		<div class="upevents">
			<h1 class="index-titles">Recent Events</h1>
			<h1 class="index-subtitles">CYLA 5th Annual Charity Concert——————————————————</h1>
			<p class="index-content"><strong>Date:</strong> 7:00 PM, Februrary 1st | <strong>Location:</strong> Temple Sholom</p>
			<%= image_tag "Events.jpg", :style => "display: block; margin: auto; margin-top: 2%; border: 10px solid #E51D39; border-radius: 5%; height: 700px; width: auto;" %>
			<p class="index-content" style="text-align: center; color: white;"><strong><font size="7em">~ Thank You To All Who Showed Up ~<br>Special Thanks to CYLA</font></strong></p>
		</div>

		<div id='redbar'>
		</div>

		<div class="parallax parallax10">
			<p style="margin: 0px; padding: 35% 0 5% 0; font-family: Copperplate; font-size: 5em; color: white; text-shadow: 20px 20px 40px black;">CYLA 5th Annual Charity Concert</p>
		</div>

		<div id='redbar'>
		</div>

	</div>

	<%= render "footer" %>
	
</body>
