<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<%= render "header" %>

<!-- Main Page Content-->

	<div class="content">
<!--Title/Home-->
		
		<div id="title" class="mainpad">
			<h1 class ="titles-index">Welcome to the Vocal Music Club</h1>
			<p>The Vocal Music Club (VMC) is a student-run club that focuses on finding new ways to present contemporary music. The club works on combining different styles of music and creating its own music. Founded in early 2017, the club started with two members. Over course of a few months, it expanded to well over 30 registered members. The club performs at many events. Some include Contemporary Music Night at Saints, Canadian Youth Leadership Association (CYLA) 5th Annual Concert, and Crofton Manor Senior Home Visit. New members are always welcomed to join!</p>
		</div>

		<div class="parallax parallax2">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

<!--About-->
		<div id="about" class="mainpad">
			<h1 class ="titles-index">About Us</h1>
			<p>The Vocal Music Club (VMC) is a student-run club that focuses on finding new ways to present contemporary music. The club works on combining different styles of music and creating its own music. Founded in early 2017, the club started with two members. Over course of a few months, it expanded to well over 30 registered members. The club performs at many events. Some include Contemporary Music Night at Saints, Canadian Youth Leadership Association (CYLA) 5th Annual Concert, and Crofton Manor Senior Home Visit. New members are always welcomed to join!</p>
		</div>

		<div class="parallax parallax3">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

<!--Forum-->
		<div id="forum" class="mainpad">
			<h1 class ="titles-index">Forum</h1>
			<p>The Vocal Music Club meets every Friday at St. George's school from 12:50 to 1:20 in Room 104. We usually have more than one meeting per week when there are upcoming performances. </p>
		</div>

		<div class="parallax parallax4">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

<!--Events-->
		<div id="events" class="mainpad">
			<h1 class ="titles-index">Events</h1>
			<p>Recently, VMC collaborated with the Canadian Youth Leadership Association and raised more than a $1000 CAD. Currently, VMC is working on creating its own album and is planning to release at the end of the year. The album will include songs that we have performed throughout the year. </p>
		</div>

		<div class="parallax parallax5">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

<!--Resources-->
		<div id="resources" class="mainpad">
			<h1 class ="titles-index">Resources</h1>
			<p>Coming soon... Photos and Videos from our performances are here.</p>
		</div>

		<div class="parallax parallax6">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

<!--Contact Us-->
		<div id="contact" class="mainpad">
			<h1 class ="titles-index">Contact Us</h1>
			<p>If you have any general question about the club please email: 
				<br></br>
				thomas.Yuan2020@stgeorges.bc.ca
				<br></br>
				If you have any questions about the website please email:
				<br></br>
				vincent.liu2020@stgeorges.bc.ca
			</p>
		</div>

		<div class="parallax parallax7">
			<p style="height: 500px; margin: 0px;"></p>
		</div>

	</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
