<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="home.css">
</head>

<body>

	<div id='redbar'>
	</div>

	<div id="welcome-container">

		<div class="parallax parallax6">

			<div id="welcome-text">
				<p style="text-shadow: 5px 5px 10px black;">RESOURCES<br><h1 id="w-subheader" style="font-style: italic; text-shadow: 5px 5px 10px black;">Vocal Music Club</h1></p>
			</div>
		
		</div>

		<%= render "w-menu" %>

	</div>

	<%= render "header" %>

<!-- Resources Page Content-->

	<div class="content">

		<div class="resources">
			<h1 class="index-titles">Coming soon...<br><font color="#E51D39">————</font><br>Photos and Videos from our performances are here.<br><font color="#E51D39">————</font></h1>
			<h1 class="index-subtitles">Crofton Manor Performance—</h1>
			<h1 class="resources-context">Photos————————————</h1>
			<h1 class="resources-context">Videos————————————</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/nhhiok4ueaA?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<h1 class="index-subtitles">St. George's Contemporary Music Night 2018—</h1>
			<h1 class="resources-context">Photos————————————</h1>
			<h1 class="resources-context">Videos————————————</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/k2h5ZLyUS9c?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>			<h1 class="index-subtitles">CYLA 5th Charity Concert—</h1>
			<h1 class="resources-context">Photos————————————</h1>
			<h1 class="resources-context">Videos————————————</h1>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/zhG8SatT-jc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<h1 class="index-subtitles">Others—</h1>
			<h1 class="resources-context">Photos————————————</h1>
			<h1 class="resources-context">Videos————————————</h1>
		</div>

		<div id='redbar'>
		</div>

		<div class="parallax parallax6">
			<p style="height: 500px; margin: 0;"></p>
		</div>

	<div id="footer">
		<div id="ftmain">
			<p style="color: #ffffff">The Vocal Music Club’s purpose is to provide a haven for singers of all styles and languages. We strive for a fun, positive, and inclusive learning environment. <span><a href="https://www.stgeorges.bc.ca/page/explore/mission-vision-and-values"><strong>Read more...</strong></a></span></p>
		</div>
		<div id="ftfooter">
			<p style="color: #C9C0C0">© Copyright 2017 St. George's Vocal Music Club. All rights reserved.</p>
		</div>
	</div>
</body>
