<!DOCTYPE html>
<html>
  <head>
    <title>St. George's Vocal Music Club</title>

    <link rel="shortcut icon" href="https://image.ibb.co/cqAE1k/Vocal_Music_Club_Logo_invs.png"/>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
